@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color: #7cf03d;
    --bg-color: #1f242d;
}



a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
    background: var(--bg-color);
}

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }

}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;

}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style-type: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;

}

.navbar ul li:hover a,
.navbar ul li.active a {
    color: var(--text-color);
}
.navbar li.active a {
  border-bottom: 2px solid var(--text-color);
  padding-bottom: 4px;
}



.section-title {
  font-size: 42px;
  margin-bottom: 25px;
}

.section-title span {
  color: #7CFF00;
}

.about-text {
  font-size: 16px;
  line-height: 1.8;
  color: #cfd3da;
  margin-bottom: 16px;
}

.about-info {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px 40px;
}

.about-info strong {
  color: #7CFF00;
}


